.input--box {
  position: relative;
}

.employee-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  display: none;
  width: 100%;
}

/* Show the employee list when its parent is hovered */
.input--box:hover .employee-list {
  display: block;
}

.employee-list-item {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.employee-list-item:hover {
  background-color: #f0f0f0;
}

#deductions-list, #earnings-list {
  display: none;
}