/* main body section */

.main--content {
    position: relative;
    background: ebe9e9;
    width: 100%;
    padding: 1rem;
}

/* .header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
} */

.header--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #BBE2EC;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: #FFF;
}

.user--info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box {
    background: #fff;
    border-radius: 15px;
    color: #BBE2EC;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.search--box input {
    border: none;
    outline: none;
    background: none;
    color: #BBE2EC;
}

.search--box input::placeholder {
    color: #BBE2EC;
}

.search--box i:hover {
    transform: scale(1.2);
}

/* card container */

.cards--wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card--container {
    background-color: #BBE2EC;
    padding: 2rem;
    border-radius: 10px;
}

.card--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main--title {
    color: #FFF;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.title {
    font-weight: 600;
}

.front--card {
    color: #FFF;
    background-color: #7FC7D9;
    border-radius: 10px;
    padding: 1.25rem;
    height: 150px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.icon-big {
    font-size: 3em;
}

.front--card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.total {
    display: flex;
    flex-direction: column;
}

.employee--number {
    font-size: 40px;
}

.employee--detail {
    font-size: 15px;
    color: #FFF;
}