@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
light blue BBE2EC
dark blue 7FC7D9
off white FBF9F1
 */
* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBF9F1;
}

.sticky-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    background: #BBE2EC;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FBF9F1;
}

.container .form {
    margin-top: 20px
}

.form .input--box {
    width: 100%;
    margin-top: 20px;
}

.input--box label {
    color: #FBF9F1;
    font-weight: bold;
    font-size: 18px;
}

.form .input--box input, .form .input--box select {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #BBE2EC;
    border: 1px solid #BBE2EC;
    border-radius: 5px;
    padding: 0 15px;
    margin-top: 10px;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 0 0.5rem;
}

.input--box {
    display: flex;
    flex-direction: column;
}

.form button {
    height: 50px;
    width: 20%;
    color: #FBF9F1;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    align-self: center;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    background-color: #7FC7D9;
}

.form button:hover {
    background-color: #BBE2EC;
    color: #7FC7D9;
    transition: ease-out 0.5s;
}

/* responsive */

@media screen and (max-width: 700px) {
    .form .column {
        flex-direction: column;
    }
}
