.main--content {
    position: relative;
    background: #F1EAFF;
    width: 100%;
    padding: 1rem;
}

.header--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #7469B6;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: #FFF;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employee-list {
    width: 100%;
    margin-top: 1rem;
    color: #fff;
    background-color: #7469B6;
    border-top: #fff;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
}

th, td {
    text-align: center;
}

.add-button {
    color: #fff;
    background-color: #AD88C6;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #E1AFD1;
    transition: ease-in-out 0.5s;
}

.fa-solid.fa-user-plus {
    font-size: 15px;
}

.info-button {
    background-color: transparent;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.fa-solid.fa-circle-info {
    font-size: 17px;

}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button, .edit-button {
    display: inline-block;
    color: #fff;
    background-color: #AD88C6;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.delete-button:hover, .edit-button:hover {
    background-color: #E1AFD1;
    transition: ease-in-out 0.5s;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #7469B6;
    margin: 10% auto;
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 98%;
}

#employee-details-table {
    width: 100%;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    border-collapse: collapse;
}

#employee-details-table th,
#employee-details-table td {
    padding: 12px;
    border-bottom: 1px solid #AD88C6;
}

#employee-details-table th {
    background-color: transparent;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#employee-details-table td {
    text-align: center;
}

#employee-details-table tbody tr:last-child td {
    border-bottom: none;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: #AD88C6;
    text-decoration: none;
    cursor: pointer;
}