 /*
 light purple E1AFD1
 dark purple 7469B6
 magenta E1AFD1
 lightest FFE6E6
  */
/* main body section */

.main--content {
    position: relative;
    background: #F1EAFF;
    width: 100%;
    padding: 1rem;
}

.header--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #7469B6;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: #FFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-list {
    width: 100%;
    margin-top: 1rem;
    color: #fff;
    background-color: #7469B6;
    border-top: #fff;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
}

.add-button {
    color: #fff;
    background-color: #AD88C6;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #E1AFD1;
    transition: ease-in-out 0.5s;
}

.fa-solid.fa-user-plus {
    font-size: 15px;
}

.edit-button, .delete-button {
    color: #fff;
    background-color: #AD88C6;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
    background-color: #E1AFD1;
    transition: ease-in-out 0.5s;
}