/* colors */
/*
light blue BBE2EC
dark blue 7FC7D9
off white FBF9F1
 */

/* main body section */

.main--content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

/* .header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
} */

.header--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #BBE2EC;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: #FFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-list {
    width: 100%;
    margin-top: 1rem;
    color: #fff;
    background-color: #BBE2EC;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
}

.add-button {
    color: #fff;
    background-color: #7FC7D9;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #5A9CB9;
    transition: ease-in-out 0.5s;
}

.fa-solid.fa-user-plus {
    font-size: 15px;
}

.edit-button, .delete-button {
    color: #fff;
    background-color: #7FC7D9;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
    background-color: #5A9CB9;
    transition: ease-in-out 0.5s;
}